<ion-content>
  <div class="body">
    <div class="contenedor">
      <div class="contenedor-back">
        <a><div class="btn-flecha"></div></a>   <p>Login</p>
      </div>
    
      <div class="contenedor-registro">
        <div class="contenedor-img">
          <div class="img-logo"></div>
        </div> 
       <div class="contenedor-info">
        <p>Usuario o Email</p>
        <input type="text" class="input-blanco">

        <p>Contraseña</p>
        <div class="contenedor-btn">
        <input type="password" class="input-blanco">
        <a><img src="assets/icon-ojo.svg"></a>
      </div>


        <a><p>¿Olvidaste tu contraseña?</p></a>
        <button class="btn-blanco" >Entrar</button>
       </div>
        
      </div>
      
    </div>
  </div>
</ion-content>