<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="contenedor-menu">
      <div class="img-perfil img-container"></div>
      <div class="img-logo img-container"></div>
      <div class="img-menu img-container"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <div class="contenedor-botones">
      <div class="boton">
        <a>
          <img src="/assets/icon-usuario.svg" alt="Botón 1">
        </a>
        <p>Rutinas</p>
      </div>
    
      <div class="boton btn-activo">
        <a>
          <img src="/assets/icon-corazon.svg" alt="Botón 2">
        </a>
        <p>Salud</p>
      </div>
    
      <div class="boton ">
        <a>
          <img src="/assets/icon-rayo.svg" alt="Botón 3">
        </a>
        <p>Tips</p>
      </div>
    </div>

    <div class="contenedor-back">
      <a><div class="btn-flecha"></div></a>
      <p>Lunes 29/10/23</p>
      <a><div class="btn-flecha flecha-rot"></div></a>
    </div>

    <div class="contenedor-grilla">
      <div class="celda contenedor-info">
        <div class="img-pasos"><img src="/assets/icon-pies.svg" alt="icon-pasos"></div>
        <div class="contenedor-pasos">
          <h3>12,453</h3>
          <p>Pasos</p> 
        </div>
      </div>


      <div class="celda">
        <div class="grilla-inter">
          <div class="celda-inter">
            <div><img src="/assets/icon-fuego.svg" alt=""></div>
            <p>
              Calorias <br>1200 kal
            </p>
          </div>
        <div class="celda-inter">
          <div><img src="/assets/icon-more.svg" alt=""></div>
          <p>
            Calorias <br>1200 kal
          </p>
        </div>
          <div class="celda-inter">
            <div><img src="/assets/icon-more.svg" alt=""></div>
            <p>
              Calorias <br>1200 kal
            </p>
          </div>
        </div>
      </div>
      
  </div>
 </div>
</ion-content>

<footer class="custom-footer">
  <div class="footer-container">
    <ion-tab-button tab="home" class="circle-icon">
      <img src="assets/icon-home.svg" alt="Perfil Icon" />
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" class="circle-icon">
      <img src="assets/img-persona-b.svg" alt="Perfil Icon" />
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <div class="corazon-icon">
      <img src="assets/img-corazon.svg" alt="Centro Icon" />
      <div class="linea-corazon"></div>
    </div>

    <ion-tab-button tab="search" class="circle-icon">
      <img src="assets/icon-buscar.svg" alt="Perfil Icon" />
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transacciones" class="circle-icon">
      <img src="assets/icon-canjear.svg" alt="Perfil Icon" />
      <ion-label>Canjear</ion-label>
    </ion-tab-button>
  </div>
</footer>
