ion-header {
    border-bottom-right-radius: 50px;
  }
  
  ion-content {
   .contenedor{
    margin:30px 50px;
      
    .contenedor-fecha{
      margin:auto;
      margin-top: 35px;
      border-radius: 15px;
      width: 100%;
      max-width: 700px;
      padding:0.2vw;
      background-color: #F3F3F3;
      text-align: center;
      color:#FF5B35;
      background-image: url(/assets/icon-calendario.svg);
      background-size: 4.9vw;
      background-repeat: no-repeat;
      background-position: calc(100% - 25px) center;
      p{
        font-size: clamp(13px, 2.9vw, 30px);
        margin-right: 15px;
      }
   }

   h3{
      color:#FF5B35;
      margin-top:30px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 4vw;
      font-size: 5vw;
   }

   .contenedor-rutina
   {  position: relative;
      width: calc(100vw - 100px);
      height: calc(78vw - 100px);
      max-width: 700px;
      max-height: 525px;
      background-image: url(/assets/img-novedades.svg);
      background-size: cover;
      border-radius: 5vw;
      background-repeat: no-repeat;

      button{
          position: absolute;
          top:4vw;
          left: 4vw;
          width:15vw;
          min-width: 100px;
          font-weight: 600;
          font-size: clamp(13px, 3.1vw, 35px);
          border:none;
          padding: 10px;
      }

      .contenedor-info{
          position: absolute;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.49);
          width: 100%;
          color:#fff;
          padding: 0 5vw;
          border-bottom-left-radius: 5vw;
          border-bottom-right-radius:5vw;
          font-size: 3vw;

          h4{
              font-size: clamp(18px, 4vw, 35px);
              margin-bottom: 2px;
          }

          p{
              margin:5px 0 4vw;
          }
      }
   }

   .puntos {
      margin:auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      background-color: #F1F1F1;
      padding-top: 10px; 
      padding-bottom: 10px; 
      width: 100%;
      max-width: 27vw;
      border-radius: 9px;
      
    }
    
    .dot {
      width: 2vw; 
      height: 2vw; 
      border-radius: 50%;
      background-color: #999999;
      margin: 0 7px; 
  
    }
    
    .activo {
      background-color: #FF5B35;
    } 

     }

     
  }
  