<ion-header [translucent]="true">
  <ion-toolbar >
  <div class="contenedor-menu">
    <div class="img-perfil img-container"></div>
  <div class="img-logo img-container"></div>
  <div class="img-menu img-container"></div> 
  </div>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="contenedor-botones">
      <div class="boton">
        <a>
          <img src="/assets/icon-usuario.svg" alt="Botón 1">
        </a>
        <p>Rutinas</p>
      </div>
    
      <div class="boton">
        <a>
          <img src="/assets/icon-corazon.svg" alt="Botón 2">
        </a>
        <p>Salud</p>
      </div>
    
      <div class="boton">
        <a>
          <img src="/assets/icon-rayo.svg" alt="Botón 3">
        </a>
        <p>Tips</p>
      </div>
    </div>

    <div class="contenedor-fecha">
      <p>Lunes 29 de Agosto del 2023</p>
    </div>

    <h3>Novedades</h3>
    <div class="contenedor-rutina">
      <button class="btn-blanco">Nuevo</button>
      <div class="contenedor-info">
        <h4>Pesas Intermedio</h4>
        <p>Gustavo Arias</p>
      </div>

    </div>

    <div class="puntos">
      <div class="dot activo"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    
  </div>
</ion-content>

