<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="contenedor-back">
      <a><div class="btn-flecha"></div></a>   <p>Mi perfil</p>
    </div>
  
    <div class="contenedor-registro">
      <div class="contenedor-img">
        <div class="img-persona"></div>
      </div> 
      <p class="txt-nombre">Crsitofer Mejia</p>
      <p class="txt-edad">22 años</p>
     <div class="contenedor-info">
      <button class="btn-gris">Editar datos</button>
      <button class="btn-gris">Cambiar contraseña</button>
      <button class="btn-gris">Invitar a un amigo</button>
      <button class="btn-gris" >Código de referido</button>
      <button class="btn-naranja" >Cerrar sesión</button>
     </div>
      
    </div>
    
  </div>
</ion-content>

<footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="circle-icon">
      <img src="assets/icon-home.svg" alt="Perfil Icon" />
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="perfil" class="circle-icon">
      <img src="assets/img-persona-b.svg" alt="Perfil Icon" />
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="centro" class="corazon-icon">
      <img src="assets/img-corazon.svg" alt="Centro Icon" />
      <div class="linea-corazon"></div>  
    </ion-tab-button>
  
    <ion-tab-button tab="search" class="circle-icon">
      <img src="assets/icon-buscar.svg" alt="Perfil Icon" />
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="transacciones" class="circle-icon">
      <img src="assets/icon-canjear.svg" alt="Perfil Icon" />
      <ion-label>Canjear</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</footer>


