.bottom-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .contenedor{
    margin:10px 30px;
    p{
        color:#FF5C36;
        margin:23px 8px 8px 8px
    }
    
    .contenedor-back{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .btn-flecha{
            background-image: url(/assets/flecha-volver.svg);
            background-size: contain;
            background-repeat: no-repeat;
            border:1px solid #FF5C36;
            background-position: center;
            padding:12px 17px;
            border-radius: 13px;
        }       
    }

    .contenedor-registro
    { 
        
        .contenedor-img {
            position: relative;
            width: 120px;
            height: 120px;
            margin: auto;
            border-radius: 50%;
            padding: 10px;
            margin-bottom: 15px;
          
            &:before {
              content: '';
              position: absolute;
              top: -3px;
              left: -2px;
              width: 100%;
              height: 100%;
              border: 2px solid #FF5C36;
              
              border-top-color: transparent;
          
        
              border-radius: 50%;
              transform: rotate(40deg);
            }
          
            .img-persona {
              background-image: url('/assets/img-perfil.svg');
              background-size: contain;
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
          
        

          .txt-nombre, .txt-edad{
            text-align: center;
            margin-top: 5px;
            margin-bottom: 4px;
          }
        .contenedor-info{
            width: 90%;
            margin: auto;
            margin-top: 50px;

            input{
                width: 100%;
                margin:20px 0
            }

            .btn-gris{
                width: 100%;
                margin-top: 10px;
            }

            .btn-naranja{
                width: 100%;
                margin-top: 35px;
                background-size: 15px;
                background-repeat: no-repeat;
                background-position: 20px center; 
   
            }
            .btn-gris {
                
                background-size: 18px;
                background-repeat: no-repeat;
                background-position: 20px center; 
                padding-left: 55px;
            }

            .btn-gris:first-child{
                background-image: url('/assets/img-persona.svg');
            }
            
            .btn-gris:nth-child(2){
                background-image: url('/assets/logo-llave.png');
            }

            .btn-gris:nth-child(3){
                background-image: url('/assets/add-user.svg');
            }

            .btn-gris:nth-child(4){
                background-image: url('/assets/logo-cupon.svg');
            }

            .btn-naranja{
                background-image: url('/assets/logo-out.svg');
            }
        }
    }
    
}