<ion-header [translucent]="true">
  <ion-toolbar >
  <div class="contenedor-menu">
    <div class="img-perfil img-container"></div>
  <div class="img-logo img-container"></div>
  <div class="img-menu img-container"></div> 
  </div>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="puntos-circulo-grande">
      <div class="puntos-circulo-pequeño">
       <div class="puntos-info">
        <h4>10,000</h4> 
        <p>puntos Fit</p> 
       </div>
      </div>

     <div class="img-corazon"></div> 
     <div class="fondo-corazon"></div> 
    </div>
    <div class="contenido-adicional">
      <div class="tabla-header">
        <button (click)="mostrarPuntosGanados = true">Puntos Ganados</button>
        <button (click)="mostrarPuntosGanados = false">Puntos Gastados</button>
      </div>
      
      <table>

        <tbody>
          <ng-container *ngIf="mostrarPuntosGanados; else puntosGastadosTemplate">
            <tr *ngFor="let dato of datosPuntosGanados">
              <td>{{ dato.columna1 }}</td>
              <td>{{ dato.columna2 }}</td>
              <td>{{ dato.columna3 }}</td>
            </tr>
          </ng-container>
      
          <ng-template #puntosGastadosTemplate>
            <tr *ngFor="let dato of datosPuntosGastados">
              <td>{{ dato.columna1 }}</td>
              <td>{{ dato.columna2 }}</td>
              <td>{{ dato.columna3 }}</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
      
      
    </div>
  </div>


</ion-content>


<footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="circle-icon">
      <img src="assets/icon-home.svg" alt="Perfil Icon" />
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="perfil" class="circle-icon">
      <img src="assets/img-persona-b.svg" alt="Perfil Icon" />
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="centro" class="corazon-icon corazon-activo">
      <img src="assets/img-corazon.svg" alt="Centro Icon" />
      <div class="linea-corazon"></div>  
    </ion-tab-button>
  
    <ion-tab-button tab="search" class="circle-icon">
      <img src="assets/icon-buscar.svg" alt="Perfil Icon" />
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="transacciones" class="circle-icon">
      <img src="assets/icon-canjear.svg" alt="Perfil Icon" />
      <ion-label>Canjear</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</footer>
