<ion-header [translucent]="true">
  <ion-toolbar >
  <div class="contenedor-menu">
    <div class="img-perfil img-container"></div>
  <div class="img-logo img-container"></div>
  <div class="img-menu img-container"></div> 
  </div>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="contenedor-completado">
      <div> <img src="/assets/checkmark.svg" alt=""></div>
      <h2>Completado</h2>

      <div class="contenedor-tiempo">
        <div><p>Tiempo</p><p>20min</p></div>
        <div><p>Tiempo</p><p>20min</p></div>
        <div><p>Tiempo</p><p>20min</p></div>
      </div>
    </div>

    <div class="contendor-info">
      <div class="info-fila"><p>tiempo</p><p>20 min</p></div>
      <div class="info-fila"><p>tiempo</p><p>20 min</p></div>
      <div class="info-fila"><p>tiempo</p><p>20 min</p></div>
      <div class="info-fila"><p>tiempo</p><p>20 min</p></div>
      <div class="info-fila"><p>tiempo</p><p>20 min</p></div>
    </div>

   <button>FINALIZAR</button> 
  </div>

</ion-content>
