<ion-content [fullscreen]="false">
<div class="contenedor">
  <div class="contenedor-back">
    <a><div class="btn-flecha"></div></a>   <p>Registro</p>
  </div>

  <div class="contenedor-registro">
    <div class="contenedor-img">
      <div class="img-persona"></div>
    </div> 
   <div class="contenedor-info">
    
      <p>Usuario</p>
      <input type="text" class="input-blanco">

      <div  class="contenedor-btn">
      <p>Email</p>
      <input type="email" class="input-blanco">
    </div>
    
      <p>Contraseña</p>
      <div class="contenedor-btn"> 
      <input type="password" class="input-blanco">
      <a><img src="assets/icon-ojo.svg"></a></div>
     
      <p>Repite contraseña</p>
      <div class="contenedor-btn">
      <input type="password" class="input-blanco">
      <a><img src="assets/icon-ojo.svg"></a>
    </div>
    <button class="btn-naranja" >Crear una cuenta</button>
   </div>
    
  </div>
  
</div>
</ion-content>


  
  
    
