.bottom-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .contenedor{
    margin:10px 30px;
    p{
        color:#FF5C36;
        margin:23px 8px 8px 8px
    }
    
    .contenedor-back{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
          
    }

    .contenedor-registro
    { 
        
        .contenedor-perfil{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin:0 20px;
            
            
            .contenedor-img {
                position: relative;
                width: 120px;
                height: 120px;
                margin-left: 20px;
                border-radius: 50%;
                padding: 10px;
                margin-bottom: 15px;
               
              
                &:before {
                  content: '';
                  position: absolute;
                  top: -3px;
                  left: -2px;
                  width: 100%;
                  height: 100%;
                  border: 2px solid #FF5C36;
                  
                  border-top-color: transparent;
              
            
                  border-radius: 50%;
                  transform: rotate(40deg);
                }
              
                .img-persona {
                  background-image: url('/assets/img-perfil.svg');
                  background-size: contain;
                  width: 100%;
                  height: 100%;
                  background-repeat: no-repeat;
                  background-position: center;
                }
              }
            .txt-nombre, .txt-edad{
            text-align: left;
            margin-top: 5px;
            margin-bottom: 35px;
            margin-left: 20px;
            
          }  
        }
        

          
        .contenedor-info{
            width: 90%;
            margin: auto;
            margin-top: 50px;

            input{
                width: 100%;
                margin:10px 0
            }

            .btn-naranja{
                width: 100%;
                margin-top: 35px;
                background-size: 15px;
                background-repeat: no-repeat;
                background-position: 20px center; 
   
            }

           
        }
    }
    
}