ion-header {
    border-bottom-right-radius: 50px;
  }
  
  ion-content {
   .contenedor{
    margin:40px 70px;
 

     .contenedor-grilla {
      max-width: 700px;
      margin: auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        
        .celda {
            border: 1px solid #ccc;
            text-align: left;
            position: relative;
            background-image: url(/assets/img-novedades.svg);
            background-size: cover;
            border-radius: 4.2vw;
            background-repeat: no-repeat;
            
            button{
                position: absolute;
                top:2vw;
                right: 2vw;
                width:15vw;
                min-width: 70px;
                font-weight: 600;
                font-size: 3vw;
                border:none;
                padding:clamp(7px, 2.3vw,15px);
            }
    
            .contenedor-info{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 3vw 3.8vw;
                color:#fff;
                border-bottom-left-radius: 5vw;
                border-bottom-right-radius:5vw;
                font-size: 2.4vw;
    
                h4{
                    font-size: clamp(10px, 3.2vw, 32px);
                    margin-bottom: 2px;
                }
    
                p{
                    margin:5px 0vw;
                    
                }
            }
            
        }

        .celda {
            aspect-ratio: 1 / 1.3; 
        }

        .celda::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 4.1vw;
            background: linear-gradient(to top, #FF5C36 0%, transparent 70%);
        }


        .celda:last-child{
            background: #fff;
           text-align: center;
           border:1px solid#FF5B35;

           h4{
            position: absolute;
            bottom: 4vw;
            left: 50%;
            transform: translateX(-50%);
            color:#FF5B35;
            font-size: clamp(10px, 3vw, 40px);
            font-weight: 600;
           }

           .icon-more{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-85%);
           }
        }

        .celda:last-child::before {

            background:none;
            
        }
       
    }
  }
}