.contenedor{
    margin: 50px 50px;

    .contenedor-centro{
        max-width: 700px;
        margin: auto;
        .contenedor-img{
            img{
                width: 100%;
            }
        }
    
        h2{
            
            font-size: clamp(20px, 5.4vw, 45px);
            width: 80%;
            margin-top: 30px;
            color:#FF5B35;
        }
    
        p{
            line-height: 1.4;
            text-align: justify;
            font-size: clamp(20px, 4vw, 40px);
        }
    
    
        .contenedor-autor{
            margin-top: 70px;
            background-color: #F5F5F5;
            padding: 5.3vw 40px 5.7vw 40px ;
            border-radius: 20px;
    
            h4{
                margin: 0;
                margin-bottom: 25px;
                color:#FF5B35;
                font-size: clamp(13px, 3.5vw, 42px);
            }
            .wrap-autor{
                display: flex;
                border-bottom:1px solid #9F9F9F;
                margin-bottom: 20px;
                
                img{
                    width: 15vw;
                    height: 15vw;
                }
    
                .info-autor{
                    margin-left: 20px;
                    padding: 14px 0;
    
                    h4{
                        margin-bottom: 0px;
                        font-size: clamp(13px, 3.3vw, 38px);
                    }
                    .text-title{
                        color:#9F9F9F;
                        font-size: clamp(13px, 3.2vw, 35px);
                    }
                }
            }

            .contenedor-desc{
               
                    font-size: clamp(13px, 3vw, 35px);
                    text-align: justify;

            }
        }
    
        .btn-naranja{
            margin-top: 80px;
            width: 100%;
            border-radius: 13px;
        }
    }
}