<ion-content>
  <div class="contenedor">
    <div class="contenedor-centro">
      <div class="contenedor-img"><img src="/assets/img-rutina.svg" alt="1 img"></div>
    <h2>¿Correr todos los días es bueno?</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem consequuntur, ab, tempora saepe totam doloribus adipisci nisi excepturi omnis reprehenderit ut architecto? Voluptas suscipit distinctio magnam. Animi ipsum non vero!
      Est, veniam culpa autem ipsa officia labore incidunt nam minima explicabo rem ipsam mollitia distinctio reprehenderit nostrum eos expedita provident rerum atque aperiam id aspernatur quisquam deleniti hic quas? Blanditiis.
      Sint beatae expedita doloremque accusantium sit corrupti voluptates ea natus, Tempora sed, voluptatibus eos perferendis optio repellat ea quas.
    </p>

    <div class="contenedor-autor">
      <h4>Acerca del Autor</h4>
      <div class="wrap-autor">
        <div><img src="/assets/img-perfil.svg" alt="1 img"></div>
        <div class="info-autor">
          <h4>Name</h4>
          <h4 class="text-title">Title</h4>
        </div> 
      </div> 
      <div class="contenedor-desc">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam  </div> 
    </div>

    <button class="btn-naranja">Volver</button>
    </div>
  </div>
</ion-content>
