.contenedor{
    margin: 50px 50px;

    .contenedor-img{
        img{
            width: 100%;
        }
    }

    h2{
        font-size: 5.4vw;
        width: 80%;
        margin-top: 30px;
        color:#FF5B35;
    }

    p{
        line-height: 1.4;
        text-align: justify;
        font-size: 4vw;
    }


    .contenedor-autor{
        margin-top: 70px;
        background-color: #F5F5F5;
        padding: 5.3vw 40px 5.7vw 40px ;
        border-radius: 20px;

        h4{
            margin: 0;
            margin-bottom: 25px;
            color:#FF5B35
        }
        .wrap-autor{
            display: flex;
            border-bottom:1px solid #9F9F9F;
            padding-bottom: 20px;
            margin-bottom: 20px;

            .info-autor{
                margin-left: 20px;
                padding: 14px 0;

                h4{
                    margin-bottom: 0px;
                }
                .text-title{
                    color:#9F9F9F
                }
            }
        }
    }

    .btn-naranja{
        margin-top: 80px;
        width: 100%;
        border-radius: 13px;
    }
}