<ion-header [translucent]="true">
  <ion-toolbar >
  <div class="contenedor-menu">
    <div class="img-perfil img-container"></div>
  <div class="img-logo img-container"></div>
  <div class="img-menu img-container"></div> 
  </div>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="contenedor-back">
      <a><div class="btn-flecha"></div></a>  
    </div>

    <div class="contenedor-rutina">
      <a><img src="/assets/icon-corazon-p.svg" alt=""></a>
      <div class="img-rutina"><img src="/assets/img-rut.svg" alt=""></div>
      <h3>Cardio</h3>
      <div class="tabla-rutina">
        <p>Intermedio</p>
        <p>7 - 10 min</p>
        <p>Sin equipo</p>
      </div>
    </div>

    <div class="tabla">
      <div class="fila">
        <div class="celda">18/09/23</div>
        <div class="celda">2.5 km</div>
        <div class="celda">10 Pts. Fit</div>
      </div>

      <div class="fila">
        <div class="celda">18/09/23</div>
        <div class="celda">2.5 km</div>
        <div class="celda">10 Pts. Fit</div>
      </div>

      <div class="fila">
        <div class="celda">18/09/23</div>
        <div class="celda">2.5 km</div>
        <div class="celda">10 Pts. Fit</div>
      </div>
      
    </div>

    <button>Iniciar</button>
    
  </div>

  
</ion-content>

