<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="grid-container">
      <div class="cuadro cuadro1"><div class="info-tiempo"><p>00:00</p><p>TIEMPO</p></div></div>
      <div class="cuadro cuadro2"><div class="info-tiempo"><p>00:00</p><p>TIEMPO</p></div></div>
      <div class="cuadro cuadro3"><div class="info-tiempo"><p>00:00</p><p>TIEMPO</p></div></div>
      <div class="cuadro cuadro4"><div class="info-tiempo"><p>00:00</p><p>TIEMPO</p></div></div>
      <div class="cuadro cuadro3"><div class="info-tiempo"><p>00:00</p><p>TIEMPO</p></div></div>
      <div class="cuadro cuadro4"><div class="info-tiempo"><p>00:00</p><p>TIEMPO</p></div></div>
    </div>


   <a><div class="icon-play"><img src="/assets/icon-play.svg" alt=""></div></a> 
   <p>Comenzar</p>
  </div>
</ion-content>
