<ion-header [translucent]="true">
  <ion-toolbar >
  <div class="contenedor-menu">
    <div class="img-perfil img-container"></div>
  <div class="img-logo img-container"></div>
  <div class="img-menu img-container"></div> 
  </div>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="contenedor-back">
      <a><div class="btn-flecha"></div></a>   <p><b>Canjear</b> puntos</p>
    </div>

   <div class="contenedor-canje">
    
      <div class="contenedor-img-canje"><div class="img-canje"></div ></div>
      <div class="info-canje">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem consequuntur, ab, tempora saepe totam doloribus adipisci nisi excepturi omnis reprehenderit ut architecto? Voluptas suscipit distinctio magnam. Animi ipsum non vero!
          suscipit distinctio magnam. Animi ipsum non vero!
         suscipit distinctio magnam. Animi ipsum non vero!
         suscipit distinctio magnam. Animi ipsum non vero!
         </p>

    </div>
    <div class="contenedor-btn-canje">
      <button class="btn-naranja">500 Puntos Fit</button>
      <button class="btn-negro">Canjear</button>
    </div>
      
   </div> 
   
   
  </div>
</ion-content>
