ion-header{
    border-bottom-right-radius: 50px;
}

.contenedor{
    margin:20px 40px;
    .contenedor-back{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p{
            color:#FF5B35;
            margin:auto
        }
    }
  
    .contenedor-canje{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-top: 50px;
        padding: 15px;
        border-radius: 15px;
        background-color: #F8F8F8;
     
        .contenedor-img-canje{
            
            width: 100%;
            
            

            .img-canje {
                background-image: url(/assets/blog-canje.svg);
                background-size: contain; 
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 300px;
                
                
              }
           
            
        }

        .contenedor-btn-canje{


            display: flex;
    
            button{
                width: 48%;
                border-radius: 15px;
                
            }
    
            .btn-naranja{
                margin-bottom: 0px !important;
    
            }
        }

        .info-canje{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    
}